._inventory_custom_meta {
    text-align: right;
    width: 30%;
    margin: 5px 0;
    float: left;
}
._invetory_meta_container {
    min-height: 200px;
}
.koi-pricing-title {
    margin: 0 auto;
    padding: 40px 0;
    display: block;
    width: fit-content;
}
.koi-container {
    display: flex;
}
.koi-sidebar {
    flex: 1;
    margin: 0 20px 0 10px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;    
}
.koi-main {
    flex: 4;
}
.koi-sidebar i.fas {
    margin-right: 10px;
}
.koi-sidebar .accordion {
    font-size: 20px;
    background-color: #6c7ae0;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    transition: 0.4s;
}
.koi-sidebar .panel ul {
    margin: 0;
}
.koi-sidebar .panel ul li span{
    float: right;
}
.koi-sidebar .panel ul li:hover,
.koi-sidebar .panel ul li.hover
{
    background: #ececff;
}

.koi-sidebar .panel ul li {
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #6c7ae0;
}

/* .koi-sidebar .active,  */
.koi-sidebar .accordion:hover
{
    background-color: #ececff;
    color: #000;
}

.koi-sidebar .panel {    
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.koi-pricing-table-filter {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    width: 99%;
    display: flex;
    border-radius: 10px;
}

.koi-pricing-table-filter .button,
.auction-reorder-modal .button
{
    background-color: #6c7ae0; /* Green */
    border: 1px solid #6c7ae0;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.auction-reorder-modal .button {
    border: 1px solid #fff;
}
.auction-reorder-modal .button:hover {
    color: #6c7ae0;
    background-color: #fff;
}
.koi-pricing-table-filter .button:hover
{
    color: #6c7ae0;
    background-color: #ececff;
}
.koi-pricing-table-filter .input-box {
    position: relative;
    width: fit-content;
}
.koi-pricing-table-filter input {
    margin: 0 1px;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.koi-pricing-table-filter input:focus {
    outline: none;
}

.koi-pricing-table-filter input:disabled {

}

.koi-pricing-table-filter input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.koi-pricing-table-filter input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.koi-pricing-table-filter div.input-wrapper select {
    border: none;
}

.koi-pricing-table-filter div.input-wrapper.first {
    border-left: none;
}
.koi-pricing-table-filter div.input-wrapper {
    float: left;
    padding: 0 10px;    
    border-left: 1px solid #ddd;
    flex: 1;
}
.koi-pricing-table-filter .vl {
    border-left: 6px solid green;
    height: 500px;
}
.koi-pricing-table-filter h2 {
    background: #eee;
    display: block;
    position: absolute;
    top: -27px;
    padding: 0 15px;    
}
.koi-pricing-table-wrapper {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    width: 99%;
}
.koi-pricing-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;    
}
  
.koi-pricing-table td, .koi-pricing-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.koi-pricing-table tr{
    background-color: #fff;
}

.koi-pricing-table tr:hover {
    background-color: #ececff;
}

.koi-pricing-table th {
    padding: 18px 0 12px 0;
    text-align: center;
    background-color: #6c7ae0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
.koi-pricing-table td.name,
.koi-pricing-table td.drag-n-drop
{
    text-align: center;
}

.koi-pricing-table .child-table {
    width: 100%;
}

.koi-pricing-table .child-table tr {
    background-color: transparent;
}

.koi-pricing-table .child-table td {
    border: none;
    padding: 0;
}

.koi-pricing-table .child-table td:first-child {
    text-align: right;
    padding-right: 15px;
    width: 50%;
}
.koi-pricing-table td.pricing .child-table td:first-child {
    width: 75%;
}
.toplevel_page_koi-pricing .notice-success,
.toplevel_page_koi-pricing div.updated,
.toplevel_page_koi-pricing div.update-nag {
    display: none;
}

.koi-pricing-notification {
    padding: 20px;
    /* background-color: #f44336; */
    background: #4CAF50;
    color: white;    
    margin: 0 15px 15px;
}

.koi-pricing-notification .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.koi-pricing-notification .closebtn:hover {
    color: black;
}

.pagination {
    background: #6c7ae0;
    border: 2px solid #6c7ae0;
    width: fit-content;
    margin: 0 auto;
}
  
.pagination a {
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover {
    background-color: #ececff;
    color: #000;
    cursor: pointer;
}
.pagination a:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 2px 1px #fff;
}

.current-filter-info {
    margin: 0 15px 15px;
}
.current-filter-info .filter-field-wrapper {
    border: 1px solid #6c7ae0;
    background-color: #ececff;
    padding: 5px;
    margin: 3px;
    display: inline-block;
}
.current-filter-info .filter-field {
    
}
.current-filter-info .refresh-filter {
    background: #FF69B4;
    width: 20px;
    height: 19px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    margin-left: 10px;
}
.current-filter-info .refresh-filter:hover {
    background: #f50a7f;
}

.current-filter-info span.filter-value {    
    margin-right: 5px;    
    color: #000;
    font-weight: 500;
}

.auction-reorder {
    color: blue;
    font-size: 12px;
    margin-right: 8px;
}

.auction-reorder:hover {
    cursor: pointer;
}

.koi-pricing-api-key-field {
    width: 30%;
}

